* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2a3d8c;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
}

header > img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__right img {
  width: 32px;
}

header nav {
  position: absolute;
  width: 60vw;
  transform: translateX(100%);
  top: 80px;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
  overflow: hidden;
  background-color: #2a3d8c;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.showMenu {
  /* left: 40%; */
  transform: translateX(0%);
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-align: end;
}

.hero {
  display: grid;
}

.hero img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/2;
}

.hero__text {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  background-color: #2a3d8c;
  padding: 16px;
  opacity: 0.7;
}

.hero__text h2 {
  text-align: center;
  color: white;
  font-size: 20px;
}

.hero__text p {
  display: none;
}

.homeGrid {
  padding: 0 20px;
}

.homeGrid h1 {
  display: none;
}

ul {
  padding: 60px 30px 60px 20px;
}

li {
  margin-bottom: 10px;
}

.homeGrid__grid h2 {
  margin-bottom: 30px;
}

.homeGrid__categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.homeGrid__category {
  display: grid;
  position: relative;
}

.homeGrid__category:last-of-type {
  grid-column: 1/3;
}

.homeGrid__category h3 {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
  text-align: center;
  align-self: end;
  padding-bottom: 10px;
  color: white;
}

.homeGrid__category img {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.homeGrid__category-overlay {
  grid-column: 1/2;
  grid-row: 1/2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.homeGrid__usa {
  margin: 30px 0;
}

.homeGrid__usa img {
  width: 100%;
}

.homeGrid__boards {
  margin-bottom: 60px;
}

.homeGrid__boards img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.homeGrid__boards h2 {
  margin-top: 12px;
  text-align: center;
  font-size: 20px;
}

.homeGrid__testimonials {
  margin-bottom: 60px;
}

.homeGrid__testimonials h2 {
  margin-bottom: 20px;
}

.homeGrid__testimonials p:last-of-type {
  font-weight: bold;
  font-size: 14px;
  margin-top: 12px;
  text-align: end;
}
